
   .body {background-image: url("kss.png");}
   .h1{background-color: rgb(255,255,255); font-size: 20pt;color: rgba(38,172,158,0.966); font-weight: 300px; padding: 30px;border: 10px;border-color: rgb(238,18,11); border-style: double;margin-top: 1em; margin-bottom: 1em; margin-left: auto;margin-right: auto; text-align: center;}



     